body {
    padding: auto;
    margin-right: auto;
    background-color: rgb(33, 61, 61);
}

header {
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 17, 17);
}

nav {
    text-align: center;
    font-size: 20px;
}

a {
    color: grey;
    text-decoration: none;
}

nav li {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
}

.informations {
    text-align: center;
    color: grey;
    align-items: center;
    margin-top: 100px;
}

.parcours {
    color: grey;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 55%;
}

.parcours_gauche {
    width: 60%;
    margin-right: 10px;
    align-items: center;
}

.parcours_image {
    margin-top: 80px;
    float: right;
    padding-bottom: 5px;
}

.formation {
    background-color: rgb(33, 61, 61);
    background-attachment: fixed;
    width: 100%;
}

.formationsetudes {
    text-align: center;
    color: grey;
    margin-bottom: 20%;
    font-size: 40px;
}

.master {
    text-align: right;
    color: grey;
    margin-right: 15%;
    margin-bottom: 15%;
    font-size: 18px;
}

.fim_logo_image {
    margin-left: 5%;
    float: left;
    padding-bottom: 15%;
    margin-top: -2%;
}

.licence_3 {
    text-align: left;
    color: grey;
    margin-left: 15%;
    margin-bottom: 15%;
    font-size: 18px;
}

.licence_2 {
    text-align: right;
    color: grey;
    margin-right: 15%;
    margin-bottom: 15%;
    font-size: 18px;
}

.licence_1 {
    text-align: left;
    color: grey;
    margin-left: 15%;
    margin-bottom: 15%;
    font-size: 18px;
}

.upec_logo_image {
    margin-right: 5%;
    float: right;
    padding-bottom: 10%;
    margin-top: -2%;
}

.aei_logo_image {
    margin-right: 5%;
    float: right;
    padding-bottom: 10%;
    margin-top: -2%;
}

.upec_image {
    margin-left: 5%;
    float: left;
    padding-bottom: 10%;
    margin-top: -2%;
}

.lycee {
    text-align: right;
    color: grey;
    margin-right: 15%;
    margin-bottom: 20%;
}

.flora_image {
    margin-left: 5%;
    float: left;
    padding-bottom: 20%;
    margin-top: -2%;
}

.jobete { 
    text-align: center;
    color: grey;
    margin-top: 100px;
    width: 80%;
    padding-bottom: 30px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 10px 10px rgb(26, 27, 26);
    background-color: rgb(33, 23, 101);
}

.interim {
    text-align: center;
    color: grey;
    margin-top: 100px;
    width: 80%;
    padding-bottom: 30px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 10px 10px rgb(26, 27, 26);
    background-color: rgb(33, 23, 101);
}

.experiencespros {
    text-align: center;
    color: grey;
    padding-bottom: 50px;
    font-size: 40px;
}

.about_me {
    text-align: center;
    color: grey;
    margin-bottom: 15%;
    font-size: 40px;
}

.competences {
    text-align: center;
    color: grey;
    margin-top: 100px;
    width: 80%;
    padding-bottom: 30px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 10px 10px rgb(26, 27, 26);
    background-color: rgb(39, 18, 3);
    font-size: 20px;
}

.passions {
    text-align: center;
    color: grey;
    margin-top: 100px;
    width: 80%;
    padding-bottom: 30px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 10px 10px rgb(26, 27, 26);
    background-color: rgb(39, 18, 3);
    font-size: 20px;
}
.accueil {
    color: grey;
}

.mail:hover {
    color: lightblue;
    font-weight: bold;
}

footer {
    border-top: 2px solid black;
    margin-top: 150px;
}

footer p {
    width: 90%;
    margin: 0 auto;
    color: black;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
}

.retour_accueil {
    text-align: right;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 20px;
}

.contact_pb {
    margin-right: 340px;
    color: grey;
}

.titre_contact_pb {
    margin-left: 100px;
}

.contact_bon {
    color: grey;
}
